.slide-up {
    animation: slideUp 1s ease forwards;
  }

  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  /* .italian-background {
    background: linear-gradient(120deg, #FFE6B3, #FFFFFF, #CE2029); 
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: black; 
} */